<div class="profile">

<div class="member-message">
  <h1>~Message~</h1>
  <%= image_tag 'sitelogo.png' %>
  <div class="message">
  <h3>現役の大学生が運営するデートグルメ口コミサイト</h3>
  <p>Smart dateは、関西の学生向けにデートに特化したグルメ口コミサイトです。
  素敵な彼や彼女と行った素敵なレストランをシェアし、より多くの学生が素敵な恋愛を楽しめることを願って立ち上げたサービスです。運営も学生が行っており、学生の皆さんが使い易いサービスになるように日々精進しております。</p>
  </div>
</div>


<!-- プロフィール一覧 -->
<div class="member-list">
<h1>~Member~</h1>
  <div class="profile_item">
    <img src="https://avatars.slack-edge.com/2016-02-10/20809034436_c093f69bc3bf1c61dbc1_512.jpg" alt="ペンギン">
    <h3>森尾　夢信</h3>
    <h4>営業マネージャー</h4>
    <h4>近畿大学文芸学部4回</h4>
  </div>
  <div class="profile_item">
    <%=  image_tag 'Slack for iOS Upload-1.jpg' %>
    <h3>曽和　寛貴</h3>
    <h4>営業</h4>
    <h4>近畿大学経営学部3回</h4>
  </div>
  <div class="profile_item">
    <%=  image_tag 'Slack for iOS Upload.jpg' %>
    <h3>千賀　亮</h3>
    <h4>営業</h4>
    <h4>同志社大学理工3回</h4>
  </div>
  <div class="profile_item">
    <%=  image_tag 'Slack for iOS Upload-2.jpg' %>
    <h3>東口　和暉</h3>
    <h4>CTO</h4>
    <h4>同志社大学経済学部4回</h4>
  </div>
  <div class="profile_item">
   <%= image_tag 'odawara.jpg' %>
    <h3>小田原　光太</h3>
    <h4>ソフトウェアエンジニア</h4>
    <h4>関西学院大学商学部1回</h4>
  </div>
  <div class="profile_item">
    <img src="https://avatars.slack-edge.com/2016-03-09/25574036532_e610b4e27e43732e18e2_512.jpg" alt="ペンギン">
    <h3>谷口　健一郎</h3>
    <h4>ソフトウェアエンジニア</h4>
    <h4>神戸大学工学部4回</h4>
  </div>
  <div class="profile_item">
    <img src="https://scontent-nrt1-1.xx.fbcdn.net/hphotos-xat1/v/t1.0-9/11013321_1083724224975432_1907256461228611713_n.jpg?oh=6ad802db39495928662f32506aeb3cc1&amp;oe=577D4B49" alt="ペンギン">
    <h3>西山　裕子</h3>
    <h4>プロジェクトオーナー兼マーケティングPRプロヂューサー</h4>
    <h4>大阪大学文学部仏文科平成元年卒</h4>
  </div>
</div>

<div style="clear: both"></div>
<!-- オフィスの住所  -->
<div class="address">
  <h1>~Address~</h1>
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3280.06703572404!2d135.4924326!3d34.7034891!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000e68e7fd54adb%3A0x26dd6dc2ab5b214c!2z44CSNTMwLTAwMTEg5aSn6Ziq5bqc5aSn6Ziq5biC5YyX5Yy65aSn5rex55S677yU4oiS77yR!5e0!3m2!1sja!2sjp!4v1457108778657" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  <p>〒530-0011 大阪府大阪市 北区大深町4-1 グランフロント7F GVH</p>
</div>

  </div>