<%= form_for(@coupon) do |f| %>
  <% if @coupon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coupon.errors.count, "error") %> prohibited this coupon from being saved:</h2>

      <ul>
      <% @coupon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= field_set_tag "クーポン発行" do %>
    <%= f.fields_for :photo do |p| %>
      <div class="form-group">
        <%= p.label :images, "画像", :class => "col-xs-2" %>
        <%= p.file_field :images, :class => "col-xs-10" %>
        <%= p.hidden_field :images_cache %>
      </div>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= f.label :concept, "コンセプト", :class => "col-xs-2" %><br>
    <%= f.text_field :concept, :class => "col-xs-10" %>
  </div>
  <div class="form-group">
    <%= f.label :course, "コース", :class => "col-xs-2" %><br>
    <%= f.text_area :course, :class => "col-xs-10" %>
  </div>
  <div class="form-group">
    <%= f.label :price, "価格", :class => "col-xs-2" %><br>
    <%= f.number_field :price, :class => "col-xs-10" %>
  </div>
  <div class="form-group">
    <%= f.label :restaurant_id, "レストランを選択する", :class => "col-sm-2" %><br>
    <%= f.select :restaurant_id, @restaurants, :class => "col-sm-10" %>
  </div>
  <div class="actions">
    <%= f.submit "発行する", :class => 'btn btn-success' %>
  </div>
<% end %>
